extends ./menuAd.jade
block main
    main
        h1 Agregar Delito
        table(class="table table-striped")
            thead
                tr
                    th(scope="col")
                        |Tipo de Delito
                    th(scope="col")
                        |+
            tbody
                tr
                    form(action="/sumDelito", method="post")
                        th(scope="col")
                            input(type="text", class="form-control romIMG", placeholder="Delito", name="des", required)
                        th(scope="col", class="rowIMG widthEdit")
                            button(type="submit" class="btn btn-outline-success")
                                |Agregar
        h1 Tipos de Delitos Existentes en la DB
        table(class="table table-striped")
            thead
                tr
                    th(scope="col")
                        |ID
                    th(scope="col")
                        |Tipo de Delito
            tbody
                each val, index in id
                    tr
                        th(scope="col")| !{val}
                        th(scope="col")| !{nom[index]}
                                    
        