extends ./menuU.jade
block title
    |Contacto
block main
    block alerts
    main
        br
        div.jumbotron
            h1.display-5
                |Contacto
            hr.my-4
            p.lead 
                |Para contactarte con alguien de nuestro equipo manda un correo a:
            h5
                b|bryannmilton51@gmail.com
                br
                br
                b|armandomangozlol@gmail.com