extends ./basic.jade
block titulo
    title Ver Usuarios
block style 
    link(rel="stylesheet", type="text/css", media="screen", href="css/style1.css")
block cuerpo
    nav.menu
        input(id="menu__toggle", type="checkbox", class='menu__toggle')
        label(for="menu__toggle", class="menu__toggle-label")
            svg(preserveAspectRatio='xMinYMin', viewBox='0 0 24 24')
                path(d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z')
            svg(preserveAspectRatio='xMinYMin', viewBox='0 0 24 24')
                path(d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z")
        ol.menu__content
            li.menu-item
                a(href="/home")
                    |Home
            li.menu-item
                a(href="#")
                    |Reportes
                ol.sub-menu
                    li.menu-item
                        a(href="/verReportes")
                            |Reportes de Delitos
                    li.menu-item
                        a(href="/addReporte")
                            |Agregar Reporte
                    li.menu-item
                        a(href="/usuReporte")
                            |Mis Reportes
            li.menu-item
                a(href="#")
                    |Mi Perfil
                ol.sub-menu
                    li.menu-item
                        a(href="/datosUsu")
                            |Mis Datos
                    li.menu-item
                        a(href="modPass")
                            |Modificar Contraseña
            li.menu-item
                a(href="#")
                    |Ayuda
                ol.sub-menu
                    li.menu-item
                        a(href="contacto")
                            |Contacto
                    li.menu-item
                        a(href="aviso")
                            |Aviso de Privacidad
            li.menu-item
                a(href="/logout")
                    |Cerrar Sesión
    block main
