extends ./menuAd.jade
block main
    main
        h1 Modificar Usuarios
        table(class="table table-striped")
            thead
                tr
                    th(scope="col")
                        |ID
                    th(scope="col")
                        |Tipo de Delito
                    th(scope="col")
                        |Editar
            tbody
                each val, index in id
                    tr
                        form(action="/editarDel", method="post")
                            th(scope="col")
                                input(type="text", class="form-control widthID", placeholder="ID", value=val, name="id", readonly="readonly")
                            th(scope="col")
                                input(type="text", class="form-control widthDelMod", placeholder="Usuario", value=nom[index], name="nom", required)
                            th(scope="col", class="rowIMG widthEdit")
                                button(type="submit" class="btn btn-outline-warning")
                                    |Editar
                                    
        