extends ./menuU.jade
block main
    main
        br
        div.jumbotron
            h1.display-5
                |Modificar Contrase単a
            hr.my-4
            table(class="table table-striped")
                thead
                    tr
                        th(scope="col")
                            |Contrase単a actual
                        th(scope="col")| !{pas}
                        - console.log(pas);
                tbody
                    form(action="/editarPass", method="post")
                        tr
                            th(scope="col")|Nueva Contrase単a
                            th(scope="col")
                                input(type="password", class="form-control", placeholder="Password", name="pass", required)
                        tr
                            th(scope="col")|Confirmar Nueva Contrase単a
                            th(scope="col")
                                input(type="password", class="form-control", placeholder="Confirm Password", name="pass2", required)
                        tr
                            th(scope="col")
                            th(scope="col")
                                button(type="submit" class="btn btn-success")
                                    |Editar