extends ./index.jade
block advertencia
    div(class='alert alert-success', role='success')
        |Usuario registrado exitosamente
        button(type='button', class='close', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true')
                |&times;
