extends ./index.jade
block advertencia
    div(class='alert alert-warning', role='alert')
        |Las contraseñas no coinciden 
        button(type='button', class='close', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true')
                |&times;